.box{
	height: 100vh;
	display: flex;
	flex-direction: column;
}
/* 头部区域 */
header{
	background: rgb(138, 121, 105);
	height:5.5rem;
	display: flex;
	align-items: center;
	padding:0 1rem;
}
/* 左边的标题导航部分 */
header .left,.right{
	width: 50%;
}
header .left{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
/* 右边部分 */
header .right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* 共同的样式 */
header .common{
	font-size: 2rem;
	color:white;
	padding:1.2rem;
	font-weight: 900;
}
header .title{
	font-weight: 600;
	margin-left: 0.9rem;
}
header .mui-icon{
	border-radius: 50%;
}
/* 图标被点击时的样式 */
header .active{
	background: rgba(156, 156, 156,0.5);
}
/* 修改样式名称使节点旋转 */
header .rotate{
	transition: all 0.5s;
	transform: rotate(180deg);
}
header .rotateBack{
	transition: all 0.5s;
	transform: rotate(360deg);
}
/* 主体部分 */
main{
	flex: 1;
	overflow: auto;
	position: relative;
}
/* 侧滑菜单 */
main aside{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	background: rgba(0,0,0,0.4);
	z-index: 999;
	display: none;
}
/* 菜单内容 */
main aside .left{
	width:69%;
	height:100%;
	background: white;
	position: absolute;
	top: 0;
	left:-69%;
	display: flex;
	flex-direction: column;
}
/* 用户信息内容 */
main aside .left .user{
	padding:1.6rem;
	border-bottom: 1px solid rgb(210, 210, 210);
	display: flex;
}
/* 用户头像 */
main aside .left .user>img{
	width: 5rem;
	height:5rem;
	border-radius: 50%;
	border:1px solid rgb(99, 99, 99);
	margin-right: 1.6rem;
}
/* 用户签名 */
main aside .left .user>div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
main aside .left .user>div .username{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	color:rgb(98, 98, 98);
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
}
main aside .left .user>div .desc{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	color:rgb(133, 133, 133);
	font-size: 1.1rem;
	line-height: 1.5rem;
}
/* 笔记分类内容 */
main aside .left .type{
	flex: 1;
	overflow-y: auto;
}
main aside .left .type>div{
	padding:0 1.6rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	color: rgb(125, 125, 125);
	font-size: 1.5rem;
	line-height: 3.4rem;
}
/* 分类管理、废纸篓 */
main aside .left .typeManage,.rubis{
	padding:1.6rem;
	border-top: 1px solid rgb(200, 200, 200);
	font-size: 1.7rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: rgb(104, 104, 104);
}
main aside .left .mui-icon{
	margin-right: 2rem;
	font-weight: 900;
	color:black;
	font-size: 1.8rem;
}
/* 遮盖层 */
main aside .right{
	width:31%;
	height:100%;
	position: absolute;
	top: 0;
	right: 0;
}
/* 主体内容 */
main .content{
	height:100rem;
}
/* 添加图标 */
main .addTitle{
	width: 6rem;
	height:6rem;
	border-radius: 50%;
	background: rgb(138, 121, 105);
	position: fixed;
	right:2rem;
	bottom: 3rem;
	text-align: center;
	line-height: 6rem;
	color:white;
}
main .addTitle .icon-tianjia{
	font-weight: 900;
	font-size: 1.5rem;
}