.box{
	height: 100vh;
	display: flex;
	flex-direction: column;
}
/* 头部区域 */
header{
	background: rgb(138, 121, 105);
	height:5.5rem;
	display: flex;
	align-items: center;
	padding:0 1rem;
}
/* 左边的标题导航部分 */
header .left,.right{
	width: 50%;
}
header .left{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
/* 右边部分 */
header .right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* 共同的样式 */
header .common{
	font-size: 2rem;
	color:white;
	padding:1.2rem;
	font-weight: 900;
}
header .title{
	font-weight: 600;
	margin-left: 0.9rem;
}
header .mui-icon{
	border-radius: 50%;
}
/* 主体部分 */
main{
	flex: 1;
}
main .contains{
	overflow: hidden;
}
main .list{
	position: relative;
	height:4rem;
}
main .list .left{
	height:100%;
	line-height: 4rem;
	padding:0 1.3rem;
	font-size: 1.6rem;
	color:rgb(87, 86, 84);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main .list .left>div{
	width: 80%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
main .list .left>span{
	font-size: 2rem;
	font-weight: 700;
}
main .list .right{
	height:100%;
	width: 10rem;
	position: absolute;
	top:0;
	left:100%;
}
main .list .right>button{
	border:none;
	border-radius: 0;
	margin: 0;
	height:100%;
	background: #2AC845;
	color:white;
	display: flex;
	flex-direction: column;
	float: left;
	justify-content: space-around;
	font-size: 1.3rem;
	width: 5rem;
	align-items: center;
}
main .list .right>button.delete{
	background: red;
}